.square {
    background: #fff;
    border: 1px solid rgba(0,0,0,.8);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

.lol{
    height: 99px;
    width: 99px;
    background-color: aqua;
    float: left;
}